div.container.instructions
    h1 Why use Meeting Merit?
    p Meetings can make or break a company's productivity.
        | They can be the company's engine of innovation and creativity,
        | or they can slow productivity to a halt
        | while completely demoralizing good employees.
    p
        a(href='http://www.npr.org/2015/01/29/382162271/and-so-we-meet-again-why-the-workday-is-so-filled-with-meetings') You don't have to take our word for it.
    p How effective are your meetings?
    p The best way to find out is to ask.
    p Meeting Merit makes it easy and convenient to get feedback from your colleagues on how effectively you are running your meetings.
    h1 How does it work?
    ol
        li <b>Click the "Register Meeting" button.</b> If you enter a meeting name, it will appear on-screen when someone rates your meeting and views results.
        li <b>You'll be given a special link just for your meeting.</b> Give the link to your attendees. You can paste it into your meeting invite, email it to them after the meeting, include it in the meeting notes, etc.
        li <b>Use the link to rate your meeting, and view the results.</b> Ratings and comments are anonymous, and anyone with the link can view them.
    h1 Why is it "BETA"?
    p We recently launched this site because we were looking for ways to make our meetings more effective, and we think
        | there may be others out there with the same interest.
    p There are a lot of features we think would make this site even more useful. As is, the site is currently very simple.
    p If we get some feedback, encouragement, and ideas, we'll take the site to the next level and "officially" launch a more full-featured product.
    h1 Who are you?
    p We're just normal people with corporate jobs who spend a lot of time in meetings.
    p Some of those meetings are more valuable than others.
    p
        a(href='mailto:meetingmerit@gmail.com') We'd love to hear from you.
div.container
    p (C) 2015 meetingmerit.com